.footer {
  padding: 8px 16px;
  background-color: $bg-color-secondary;
  color: $text-color-secondary;

  @include onTablet {
    padding: 16px 36px 0;
  }

  &__location {
    padding-bottom: 8px;
    border-bottom: 1px solid $border-color;

    @include onTablet {
      padding-bottom: 16px;
    }
  }

  &__navigation {
    display: flex;
    gap: 4px;
    justify-content: space-between;

    @include onTablet {
      flex-direction: row;
      padding: 8px 0;
    }

    @include onDesktop {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      justify-content: center;
      gap: 8px;
    }

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }

  &__link {
    padding: 8px 0;
    color: $text-color-secondary;

    @include underline-hover($text-color-secondary);
    @include onTablet {
      padding: 8px 0;
    }

    @include onDesktop {
      padding: 16px 0;
    }
  }
}