.main {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  place-items: center;

  &__footer {
    color: $text-color-main;
    font-size: $text-size-secondary;
  }

  &__language {
    color: $button-bg-color;
  }
}
