body, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

input {
  all: unset;
}

button {
  background-color: #0000;
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: .95em;
  font-weight: 400;
}

a {
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: .3s;
  display: inline-block;
}

button {
  cursor: pointer;
}

.page {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  display: grid;
}

.logo {
  width: 30%;
  height: 132px;
  margin-bottom: 20px;
  position: relative;
}

.logo__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.logo__image--hidden {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: .6s;
  transform: translateX(-100%);
}

#logo__image--google {
  width: 70%;
  left: 15%;
}

#logo__image--oddity {
  top: -20px;
}

.header {
  flex-direction: row-reverse;
  padding: 6px;
  display: flex;
}

.nav__list {
  align-items: center;
  gap: 16px;
  display: flex;
}

.nav__link {
  color: #202124;
  font-size: .9em;
}

.nav__link:after {
  content: "";
  border-bottom: 1px solid #0000;
  width: 100%;
  margin-top: 1px;
  transition: border-color .3s;
  display: block;
}

.nav__link:hover {
  color: #202124;
}

.nav__link:hover:after {
  border-color: #202124;
}

.nav__services-button {
  border-radius: 50%;
  place-content: center;
  place-items: center;
  width: 36px;
  height: 36px;
  padding: 6px;
  display: flex;
}

.nav__services-button:hover {
  background-color: #eff2f5;
}

.nav__asign-button {
  color: #fff;
  box-shadow: none;
  background-color: #1a73e8;
  border-radius: 4px;
  margin: 0 8px;
  padding: 8px 24px;
}

.nav__asign-button:hover {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px #00000026, 0 1px 2px #0000004d;
}

.main {
  flex-direction: column;
  place-items: center;
  padding-top: 8%;
  display: flex;
}

.main__footer {
  font-size: .9em;
}

.main__language {
  color: #1a73e8;
}

.searching {
  width: 40%;
  margin-bottom: 20px;
}

.searching__area {
  border: 1px solid #d2d5d9;
  border-radius: 32px;
  gap: 16px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 16px;
  transition: background-color .3s;
  display: flex;
}

.searching__area:hover {
  background-color: #eff2f5;
}

.searching__field {
  flex-grow: 1;
}

.searching__buttons {
  justify-content: center;
  display: flex;
}

.searching__button {
  background-color: #eff2f5;
  border: 1px solid #0000;
  border-radius: 4px;
  margin: 4px;
  padding: 8px 16px;
  font-size: .95em;
  transition: border-color .3s;
}

.searching__button:hover {
  border-color: #d2d5d9;
}

.footer {
  color: #66686b;
  background-color: #eff2f5;
}

.footer__location {
  border-bottom: 1px solid #d2d5d9;
  padding: 16px 36px;
}

.footer__navigation {
  justify-content: space-between;
  padding: 0 20px;
  display: flex;
}

.footer__link {
  color: #66686b;
  padding: 16px;
}

.footer__link:after {
  content: "";
  border-bottom: 1px solid #0000;
  width: 100%;
  margin-top: 1px;
  transition: border-color .3s;
  display: block;
}

.footer__link:hover {
  color: #66686b;
}

.footer__link:hover:after {
  border-color: #66686b;
}

.brand--hidden {
  display: none;
}

.icon {
  width: 24px;
  padding: 12px 0;
}

.icon--button {
  cursor: pointer;
}

/*# sourceMappingURL=index.e378193d.css.map */
