@mixin underline-hover($color) {
  &::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color $transition-duration;
  }

  &:hover {
    color: $color;

    &::after {
      border-color: $color;
    }
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}
