* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: $text-size-main;
  font-weight: 400;
}

a {
  display: inline-block;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: $transition-duration;
}

button {
  cursor: pointer;
}
