$bg-color-secondary: #eff2f5;

$text-color-main: #202124;
$text-color-secondary: #66686b;
$text-size-main: 0.95em;
$text-size-secondary: 0.9em;

$button-bg-color: #1a73e8;
$button-bg-color--hov: #1b66c9;
$button-text-color: #fff;

$border-color: #d2d5d9;
$border-radius: 4px;

$transition-duration: 0.3s;
