$bg-color-main: var(--bg-color-main);
$bg-color-secondary: var(--bg-color-secondary);

$text-color-main: var(--text-color-main);
$text-color-secondary: var(--text-color-secondary);
$text-size-main: var(--text-size-main);
$text-size-secondary: var(--text-size-secondary);

$button-bg-color: var(--button-bg-color);
$button-bg-color--hov: var(--button-bg-color--hov);
$button-border-color--hov: var(--button-border-color--hov);
$button-text-color: var(--button-text-color);

$neon: var(--neon);

$border-color: var(--border-color);
$border-radius: 4px;

$transition-duration: 0.3s;
